DOMAIN=naufalpujimahdy.id

DB_ROOT_PASSWORD=rootpassword123
DB_NAME=npmv2
DB_USER=root
DB_PASSWORD=

JWT_SECRET=your-super-secret-jwt-key-change-this-to-something-long-and-random
NODE_ENV=production

DATABASE_URL=mysql://portfolio_user:portfolio_pass123@db:3306/portfolio_db
NEXT_PUBLIC_API_URL=https://naufalpujimahdy.id/api
