{$DOMAIN:naufalpujimahdy.id} {
  handle /api* {
    reverse_proxy portfolio-backend:3000 {
      header_up Host {host}
      header_up X-Real-IP {remote_host}
      header_up X-Forwarded-For {remote_host}
      header_up X-Forwarded-Proto {scheme}
    }
  }

  handle {
    reverse_proxy portfolio-frontend:3001 {
      header_up Host {host}
      header_up X-Real-IP {remote_host}
      header_up X-Forwarded-For {remote_host}
      header_up X-Forwarded-Proto {scheme}
    }
  }
}

www.{$DOMAIN:naufalpujimahdy.id} {
  redir https://{$DOMAIN:naufalpujimahdy.id}{uri} permanent
}
