# Local MySQL example:
# DATABASE_URL=mysql://root:@localhost:3306/npmv2

# Remote MySQL example:
# DATABASE_URL=mysql://user:pass@host:3306/database_name

DATABASE_URL=<your_database_url>
JWT_SECRET=<your_jwt_secret>
ADMIN_API_KEY=<your_admin_api_key>
FRONTEND_URL=http://localhost:3001
